@import 'fonts';
@import 'impress';

$text-colour-main: #93b9e1; //#5c88b7; //#8dc8d9;
$text-colour-main-shadow: rgb(78, 108, 183);
$text-colour-main-lighter: #bad3ee;
$text-colour-main-darker: #5c88b7;
$text-colour-alt: #ddd551;
$default-text-size: 45px;

body {
  background: #000000;
  overflow: hidden;
  text-align: center;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: $default-text-size;
  color: $text-colour-main;
}

.alt-style {
  color: $text-colour-alt;
  text-shadow: none;
}

h1 {
  font-size: 5em;
  font-family: 'Lato', Arial, sans-serif;
}

h2 {
  font-size: 2.3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
  margin-bottom: 30px;
}

p {
  font-size: 1.5em;
  margin-bottom: 1em;
}

ul {
  list-style-type: disc;
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

li {
  font-size: 1.4em;
  margin-bottom: 1em;
}

ul.long-horizontal {
  list-style-type: none;
  margin: 0;
  text-align: center;
}

ul.long-horizontal li {
  display: inline;
  margin: 0 20px 0 0;
  font-size: 1.2em;
  line-height: 1.2em;
}

ul.alternate-colours li:nth-child(even) {
  color: $text-colour-main-darker;
}

ol.contents {
  width: 40%;
  margin: 0 auto;
  text-align: left;
  color: $text-colour-main-darker;
  font-size: 1.8em;

  li {
    margin-bottom: 0.2em;
  }

  .highlight {
    color: $text-colour-main-lighter;
  }

}


.caption {
  font-size: 0.8em;
  margin-top: 1em;
  font-style: italic;
}

.credit {
  color: #ccc;
  font-size: 0.5em;
  margin-top: 0.5em;
  font-style: italic;

  a {
    color: #ccc;
  }

  &.above-caption {
    margin: 0;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

img + .caption {
  margin-top: 0.5em;
}

a {
  text-decoration: none;
  color: lighten($text-colour-main, 15%);

  &:hover {
    color: lighten($text-colour-main, 20%);
  }
}

.alt-style a {
  color: lighten($text-colour-alt, 10%);

  &:hover {
    color: lighten($text-colour-alt, 20%);
  }
}

.vertical-centre {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

h4.below {
  font-size: 1.3em;
  margin-top: 0.5em;
}

h5.below {
  margin-top: 0.5em;
}

.quote {
  line-height: 1.2em;
  max-width: 90%;
  margin: 0 auto;
}

.long-quote {
  font-size: 1.5em;
  line-height: 1.2em;
}

p.longer-quote,
.longer-quote p {
  font-size: 1.3em;
  line-height: 1.1em;
}

table {
  margin: 1em auto;
  background: #eee;
  opacity: 0.9;

  td, th {
    padding: 15px 30px;
    border: 1px solid #666;
  }

  td {
    color: #333;
  }

  th {
    color: #000;
  }

  thead th {
    color: $text-colour-main-darker;
  }

  tbody th {
    font-size: 0.9em;
  }

}

.min-width-50 {
  min-width: 50%;
}

.max-width-70 {
  max-width: 70%;
}

/*
 * Slide specific styles
 */
#title-slide {
  p {
    font-size: 1.2em;
    margin-top: 1em;
  }
}

#not-in-2010-list {
  margin-top: 40px;
}

#flying-car-image {
  width: 75%;
}

#service-workers-image {
  width: 60%;
}

#android-recents-view-image {
  width: 25%;
}

#urls-fading-image {
  width: 30%;
}

#what-if-i-told-you-image {
  width: 60%;
}

#xkcd-web-apps-image {
  width: 26%;
}

#google-now-image {
  width: 75%;
}

#web-app-manifest-image {
  width: 25%;
}

#physical-web-quote {
  margin-top: 1.5em;
}

#ecommerce-load-times-image {
  width: 65%;
}

#http2-image {
  width: 45%;
}

#machines-humans-quote {
  margin-top: 1.5em;
}

#pictures-under-glass-image {
  width: 62%;
}

#how-can-web-keep-up {
  font-size: 1.7em;
}

#how-can-we-keep-up {
  margin-top: 80px;
  font-size: 1.7em;
}

#modularisation-logos img {
  margin-top: 30px;
  margin-bottom: 10px;
}

#modularisation-logos img:nth-of-type(1) {
  width: 25%;
}

#modularisation-logos img:nth-of-type(2) {
  width: 23%;
}

#modularisation-logos img:nth-of-type(3) {
  width: 18%;
}

#meerkat-image {
  width: 80%;
}

#webrtc-graph-image {
  width: 90%;
}

#ecmascript-process-image {
  width: 60%;
}

#your-fave-lang {
  font-family: "courier new", courier, monospace;
}

#smart-rope-image {
  width: 70%;
}

#octobiwan-image {
  width: 45%;
}

#ember-clippy-image {
  width: 60%;
}

#final-slide {

  h2 {
    margin-bottom: 1em;
  }

  p {
    font-size: 1.4em;
    margin-bottom: 0.4em;
  }

}
