@import 'fonts';
@import 'impress';

$text-colour-main: #5c88b7; //#8dc8d9;
$text-colour-main-shadow: rgb(78, 108, 183);
$text-colour-alt: #ddd551;

body {
  background-color: #000000;
  overflow: hidden;
  text-align: center;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 30px;
  color: $text-colour-main;
}

.alt-style {
  color: $text-colour-alt;
  text-shadow: none;
}

h1 {
  font-size: 6em;
  font-family: 'Lato', Arial, sans-serif;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
  margin-bottom: 1em;
}

p, ul, ol {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.caption {
  font-size: 0.9em;
  margin-top: 1em;
  font-style: italic;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: lighten($text-colour-main, 10%);

  &:hover {
    color: lighten($text-colour-main, 20%);
  }
}

.alt-style a {
  color: lighten($text-colour-alt, 10%);

  &:hover {
    color: lighten($text-colour-alt, 20%);
  }
}

.vertical-centre {
  position: absolute;
  height: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
