@import 'fonts';
@import 'impress';

$text-colour-main: #93b9e1; //#5c88b7; //#8dc8d9;
$text-colour-main-shadow: rgb(78, 108, 183);
$text-colour-main-darker: #5c88b7;
$text-colour-alt: #ddd551;
$default-text-size: 40px;

body {
  background: #000000;
  overflow: hidden;
  text-align: center;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: $default-text-size;
  color: $text-colour-main;
}

.alt-style {
  color: $text-colour-alt;
  text-shadow: none;
}

h1 {
  font-size: 5em;
  font-family: 'Lato', Arial, sans-serif;
}

h2 {
  font-size: 2.3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
  margin-bottom: 30px;
}

p {
  font-size: 1.5em;
  margin-bottom: 1em;
}

ul {
  list-style-type: disc;
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

li {
  font-size: 1.8em;
  margin-bottom: 1em;
}

ul.long-horizontal {
  list-style-type: none;
  margin: 0;
  text-align: center;
}

ul.long-horizontal li {
  display: inline;
  margin: 0 20px 0 0;
  font-size: 1.2em;
  line-height: 1.2em;
}

ul.alternate-colours li:nth-child(even) {
  color: $text-colour-main-darker;
}

.caption {
  font-size: 0.9em;
  margin-top: 1em;
  font-style: italic;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: lighten($text-colour-main, 10%);

  &:hover {
    color: lighten($text-colour-main, 20%);
  }
}

.alt-style a {
  color: lighten($text-colour-alt, 10%);

  &:hover {
    color: lighten($text-colour-alt, 20%);
  }
}

.vertical-centre {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}


/*
 * Slide specific styles
 */
#title-slide {
  p {
    font-size: 1.2em;
    margin-top: 1em;
  }
}

#not-in-2010-list {
  margin-top: 40px;
}

.long-quote {
  font-size: 1.8em;
  line-height: 1.2em;
}

